<div>
  <%= form_with model: @book, local: true do |f| %>
    <div class="mb-5">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "タイトル", class: "border" %>
    </div>

    <div class="mb-5">
      <%= f.label :author %>
      <%= f.text_field :author, placeholder: "著者", class: "border" %>
    </div>

    <div class="mb-5">
      <%= f.submit "投稿する" %>
    </div>
  <% end %>
</div>